{% extends "base.html" %}


{% block title %}
Все статьи на сайте
{% endblock %}

{% block content %}
    <h1> Все статьи на сайте </h1>

    {% if articles|length > 0 %}
        {% for el in articles  %}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ el.title }}</h5>
                            <p class="card-text">{{ el.intro }}</p>
                            <p><b>Дата: {{ el.date.date() }}</b></p>
                            <a href="/posts/{{ el.id }}" class="btn btn-warning">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
    <p>У нас еще нет статей на сайте</p>
    {% endif %}

{% endblock %}

